@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;1,700&display=swap');

$main: #3EB8F4;
$secondary: #254B85;
$secondaryHover: #254b85f2;
$yellow: #FDAD33;
$black: #112D58;
$white: #fff;
$light: #8497B4;
$transition: all .3s linear;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

button {
  border: none;
  background: none;
}

.main-title {
  text-align: center;

  h3 {
    font-size: 1.44rem;
    color: $black;
    text-transform: capitalize;
    font-weight: bold;
  }

  p {
    font-style: 1rem;
    color: $light;
  }
}

@media (min-width: 768px) {
  .main-title {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .main-title {
    h3 {
      font-style: 1.728rem;
    }
  }
}

// Header 
header {
  position: fixed;
  width: 100%;
  transition: background-color .2s linear;
  z-index: 1;

  .navbar-brand {
    font-size: 1.44rem;
    color: $main;

    span {
      color: $yellow;
    }

    &:hover {
      color: $main !important;
    }
  }

  .nav-link {
    color: $black;
  }

  .sign {
    background-color: $black;
    padding: .4rem 1.8rem;
    color: $white;
    border: none;
    transition: background-color .3s linear;

    &:hover {
      background-color: $secondaryHover;
    }
  }
}

@media (min-width: 768px) {
  header .nav-link {
    font-size: 1.2rem;
  }
}

// Intro
.intro {
  background-image: url("../images/hero-bg.png");
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
  min-height: 100vh;

  form {
    input {
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.175);
      padding: .6rem .8rem;
      outline: none;
      color: $light;

      &::placeholder {
        color: $light;
      }
    }

    img {
      width: 2rem;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  h1 {
    color: $black;
    text-transform: capitalize;
  }

}

@media (max-width: 991.98px) {
  .intro {
    min-height: 80vh;
  }
}

@media (min-width: 992px) {
  .intro h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1400px) {
  .intro h1 {
    font-size: 3.8rem;
  }
}

// Passionn
.passion,
.jobs,
.companies,
.categories {
  img {
    width: 27rem;
  }
}

.passion,
.jobs,
.companies,
.categories,
.join,
.testimonials {
  padding-bottom: 10rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  p.desc {
    width: 80%;
  }
}

// Categories
.categories {
  .card {
    box-shadow: 0 1.5625rem 2.8125rem rgba(0, 87, 255, 0.15);
    border-radius: 1.5rem;
    padding: 1.8rem 0;
    transition: $transition;

    h3 {
      color: $black;
      font-size: 1.2rem;
    }

    &:hover {
      background-color: $main;
      transform: translateY(-.2rem);

      h3,
      p {
        color: $white !important;
        transition: $transition;
      }
    }

    img {
      // width: 7.5rem;
      max-width: 7.5rem;
    }
  }
}

@media (min-width: 992px) {
  .main-title h3 {
    font-size: 2.4rem;
  }
}


// Testimonial
.testimonials {

  .swiper-wrapper {
    // min-height: 50vh;
    margin-top: 3rem;

  }

  .swiper-slide {

    // padding: 0 1rem;
    .item {
      border-radius: 1rem;
      padding: 4rem 1rem;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.175);
      margin: 25px;
      position: relative;

      img {
        position: absolute;
        left: 50%;
        top: -25%;
        transform: translateX(-50%);
        border-radius: 50%;
      }

      p {
        color: $black;
        font-weight: 300;
      }
    }


    .stars svg {
      color: $yellow;
      font-size: 1.5rem;
    }

    p {
      width: 85%;
      margin: 0 auto;
    }
  }

  .head {
    color: $black;

    h3 {
      font-size: 2rem;
      font-weight: 500;
    }

    .arr {
      width: 100px;
      position: relative;
      margin-left: auto;
      // position: absolute;
      // right: 0;
      // top: 50%;
      // transform: translateY(-50%);
    }
  }

  // .swiper-button-next,
  // .swiper-button-prev svg {}

  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }
}




// Footer
footer {
  background-color: $main;
  background-image: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  ul li {
    cursor: pointer;
  }
  .start {
    padding: 7rem 0;

    h3 {
      font-size: 2.4rem;
      color: #fff;
    }

    form {
      position: relative;
      button {
        background-color: $black;
        padding: .4rem 1.8rem;
        color: $white;
        border: none;
        transition: background-color .3s linear;

        &:hover {
          background-color: $secondaryHover;
        }
      }
      input {
        padding: 1rem;
        // outline: none;
        border: none;
        font-size: 1.2rem;
        color: $light;
      }
      p[class *= "feedback"] {
        font-weight: bold;
        position: absolute;
        bottom: -50px;
      }

    }
  }
  .info {
    h3 {
      margin-bottom: 3rem;
    }
    li {
      margin-bottom: 1rem;
    }
    .col {
      // padding: 0;
    }
  }
  .social {
    svg {
      margin-left: 1rem;
      color: $secondary;
    }
  }
  .owner {
    color: #fff;
    font-size: 0.8rem;
    span {
      color: $black;
      font-weight: bold;
      // letter-spacing: .1rem;

    }
    svg {
      display: inline-block;
      color: $secondary;
      
      margin: .2rem .4rem 0;
    }
  }
}




// Animate Sections
.from-left {
  transform: translateX(-100%);
}
.from-right {
  transform: translateX(100%);
}
.from-bottom {
  transform: translateY(150px);
}
.block {
  transition: 1s;
  opacity: 0;
}
.is-show {
  transform: none;
  opacity: 1;
}